header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    margin: 0;
    height: 293px;
}

.navigation {
    display: flex;
    gap: 32px;
    margin-left: 50px;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    list-style: circle;
}

.navigation-first-elem {
    display: block;
}

header .navigation .underlined {
    color: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
}

.phone {
    font-style: normal;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
}

.header__logo {
    height: 105px;
    width: 130px;
}

.header__logo-image {
    max-width: 100%;
    max-height: 100%;
    
}

.mail {
    font-style: normal;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
}


header address {
    margin-right: 50px;
    max-width: 240px;
    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

address > p {
    margin-top: 0;
    margin-bottom: 0;
}

.cover {
    position: relative;
    z-index: 0;
    min-height: 757px;
    background: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
}

.overlay {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    z-index: -1;
}

.cover__title {
    position: relative;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 100px;
    letter-spacing: 0.3em;
    z-index: 1;
    max-width: 100%;
    padding-inline: 50px;
}

.aligned-text_left {
    text-align: left;
    margin: 0;

}

.aligned-text_center {
    text-align: center;
    margin: 0;
}

.aligned-text_right {
    text-align: right;
    margin: 0;
}

.description {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    margin-inline: 50px;

}

.cover__description-text {
    word-spacing: 19px;
    line-height: 28px;
    letter-spacing: 0%;
    font-weight: 400;
}

.bet-button {
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    width: 256px;
    height: 51px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 22px;

}

button:focus {
    box-shadow: none;
    outline: none;
}

.lots {
    margin-top: 180px;

}

.lots__heading {
    font-weight: 700;
    font-size: 40px;
    margin-left: 64px;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: center;
    height: 100%;
    gap: 25px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card-link {
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    width: 334px;
    height: 596px;
    color: #fff;
    display: flex;
    flex-direction: column;
    z-index: -1;
}

.lots__card-list-item .overlay {
    padding: 48px 40px;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 0;

}

.card_type_film {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-position: center;

}

.card_type_book {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-position: center;
}

.card_type_picture {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-image: url(../images/card-lot-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 334px;
}

.card__title {
    margin: 0;
    display: inline-block;
    text-decoration: underline;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    z-index: 1
}

.card__text {
    margin: 0;
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0;
    z-index: 1;
}

.lots__look-more-link {
    margin-top: 30px;
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    margin-left: 64px;
}

.about {
    margin-top: 120px;
    margin-bottom: 180px;
}

.about__text {
    padding-top: 35px;
}

.about__column {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: start;
    padding-inline: 24px;
}

.about__logo {
    height: 240px;
    width: 240px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin: 35px 72px auto 47px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    min-height: 240px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.about__paragraph {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
}

.about__paragraph:first-of-type {
    margin-top: 8px;
}

.about__paragraph:last-of-type {
    margin-bottom: 0;
    margin-top: 24px;
}

footer {
    margin-top: 180px;
    color: black;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    min-height: 180px;
}

footer > address {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.address .phone {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    font-style: normal;
}

.address .mail {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    font-style: normal;
}

.address .address {
    text-decoration: none;
    color: inherit;
    font-style: normal;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.footer__menu-list {
    padding: 0;
    list-style: none;
    margin-top: 0;
}

.footer__menu-list-item {
    text-wrap: nowrap;
    text-align: center;
}

.footer__menu-link {
    text-decoration: none;
    color: inherit;
}

.footer__menu-link-underlined {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
}

.footer__social-list {
    display: flex;
    align-items: flex-start;
    list-style: none;
    gap: 48px;
    padding: 0;
    justify-self: end;
    margin: 0 50px 0 0;
}

.footer__social-list-item {
    margin: 0;
    padding: 0;
    line-height: 0;
}

.footer__social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
}

.footer__social-icon {
    display: block;
}